.landing {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  align-items: center;
  background-color: #FEF6E1;
  padding: 0 10%;
}

.item {
  flex: 1 1 0px;
}

.flexColumn {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}

.description {
  color: #4b5563;
  font-size: 1.25rem;
  line-height: 1.75rem;
}